In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df =  pd.read_csv("./final_dataset.csv",index_col=0)
df

,Vehicle class,Trip type,Passengers,Distance in kms,Travel time minutes,Total time elapsed(hours),Supplier Quote(including GST),Number of MiniBus,Number of Large MiniBus,Number of Small Coach,Number of Medium Coach,Number of Large Coach,Extra Large Coach
0,0,0,35,23.183,21,0.35,431.25,0,0,1,0,0,0
1,0,1,25,32.554,36,5.37,517.50,0,0,1,0,0,0
2,0,1,15,110.210,84,7.45,889.04,0,1,0,0,0,0
3,0,1,70,15.513,25,7.72,1518.00,0,1,0,0,0,1
4,0,1,53,14.301,26,3.18,490.00,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,0,1,30,20.852,23,7.43,530.00,0,0,1,0,0,0
449,0,1,25,19.468,28,2.98,224.75,0,0,1,0,0,0
450,0,1,25,19.468,28,2.98,500.00,0,0,1,0,0,0
451,0,1,45,115.055,103,9.85,985.00,0,0,0,0,1,0
452,0,1,50,164.195,143,12.18,900.00,0,0,0,0,0,1

In [3]:
features = df.drop(labels=['Supplier Quote(including GST)','Number of MiniBus','Number of Medium Coach','Number of Large MiniBus','Number of Small Coach','Extra Large Coach'],axis=1)
target = df[['Supplier Quote(including GST)']]

In [4]:
features

,Vehicle class,Trip type,Passengers,Distance in kms,Travel time minutes,Total time elapsed(hours),Number of Large Coach
0,0,0,35,23.183,21,0.35,0
1,0,1,25,32.554,36,5.37,0
2,0,1,15,110.210,84,7.45,0
3,0,1,70,15.513,25,7.72,0
4,0,1,53,14.301,26,3.18,0
...,...,...,...,...,...,...,...
448,0,1,30,20.852,23,7.43,0
449,0,1,25,19.468,28,2.98,0
450,0,1,25,19.468,28,2.98,0
451,0,1,45,115.055,103,9.85,1
452,0,1,50,164.195,143,12.18,0

In [5]:
target

     Supplier Quote(including GST)
0                           431.25
1                           517.50
2                           889.04
3                          1518.00
4                           490.00
..                             ...
448                         530.00
449                         224.75
450                         500.00
451                         985.00
452                         900.00

[453 rows x 1 columns]

In [6]:
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LinearRegression
# reg = LinearRegression(normalize=True)
# model = cross_validate(reg,features,target,cv=170,return_estimator=True,scoring ='neg_mean_squared_error')
# model

In [7]:
from sklearn.preprocessing import PolynomialFeatures

In [8]:
x = features.values
y = target.values

In [9]:
poly = PolynomialFeatures(degree=3)

In [10]:
X_poly = poly.fit_transform(x)

In [11]:
poly.fit(X_poly,y)

PolynomialFeatures(degree=3)

In [12]:
linr = LinearRegression()

In [13]:
linr.fit(X_poly,y)

LinearRegression()

In [14]:
preds = linr.predict(X_poly)
preds

array([[ 358.53094432],
       [ 540.67853404],
       [ 509.63333183],
       [ 902.36256224],
       [ 657.01783344],
       [ 655.9048072 ],
       [ 675.14528999],
       [3198.29378428],
       [ 562.79545646],
       [ 772.47579109],
       [ 515.82867541],
       [ 830.45678464],
       [1026.80422795],
       [ 934.56337803],
       [ 737.91608105],
       [ 767.24662963],
       [ 767.24662963],
       [  18.83343753],
       [6150.6965522 ],
       [ 573.61477728],
       [ 746.98701624],
       [ 806.09971284],
       [4819.34863352],
       [1800.08288904],
       [ 691.22155266],
       [1198.96562878],
       [ 718.12893757],
       [ 752.50137632],
       [ 752.50137632],
       [ 669.9680619 ],
       [ 496.65364781],
       [ 621.11842584],
       [ 614.7019983 ],
       [ 939.59885727],
       [ 866.27689939],
       [ 922.29012884],
       [ 624.39659513],
       [ 700.49319073],
       [ 855.02578558],
       [1047.42071284],
       [ 767.39823791],
       [ 706.84711874],
       [ 715.89008866],
       [ 535.86216661],
       [ 387.38555679],
       [2060.42479871],
       [ 860.15752912],
       [2056.01827964],
       [1795.18558681],
       [  23.47625732],
       [1474.84308831],
       [3502.98149238],
       [ 121.69982987],
       [ 545.60841207],
       [ 969.21022862],
       [1988.60617219],
       [ 596.91760503],
       [1314.13078938],
       [ 624.71611088],
       [1843.10562322],
       [1058.21694206],
       [ 524.96955576],
       [ 559.49632561],
       [ 748.12153007],
       [1127.36907377],
       [1280.81477847],
       [1280.81477847],
       [ 340.69570659],
       [ 548.96275025],
       [ 385.24243919],
       [1914.57041012],
       [1040.88329269],
       [2056.01827964],
       [ 472.07667511],
       [ 901.89337617],
       [ 720.71188864],
       [ 227.48964656],
       [1888.55119739],
       [ 627.84933472],
       [ 328.49887394],
       [ 575.30876519],
       [ 113.94859835],
       [ 725.7539102 ],
       [ 573.0786201 ],
       [ 466.85091757],
       [ 817.35624596],
       [ 817.35624596],
       [1140.63256152],
       [1139.08665415],
       [ 280.58459678],
       [ 325.4383044 ],
       [ 616.59023756],
       [ 777.01535705],
       [ 777.01535705],
       [ 139.40722853],
       [ 777.01535705],
       [ 983.11686023],
       [ 777.01535705],
       [ 311.22312736],
       [ 333.94089735],
       [ 585.20859459],
       [ 635.55028934],
       [ 708.64255048],
       [3924.73070345],
       [ 494.76239584],
       [1443.69335154],
       [ 467.37558387],
       [6101.99145309],
       [ 514.71133367],
       [ 505.78361639],
       [ 605.10220753],
       [ 488.57967825],
       [1110.36915884],
       [7602.29382185],
       [5867.31146701],
       [ 519.54633519],
       [ 584.08548813],
       [ 821.3126146 ],
       [1512.62964662],
       [ 433.75501637],
       [ 828.95932439],
       [1060.02783975],
       [ 519.54633519],
       [ 311.1036658 ],
       [ 924.84942457],
       [ 850.13405829],
       [1478.9371496 ],
       [ 747.29488035],
       [3777.11132874],
       [ 360.23896786],
       [ 598.44789997],
       [ 576.77340267],
       [1711.12315709],
       [1181.8376202 ],
       [ 755.28592404],
       [ 757.67999613],
       [5218.60226601],
       [ 504.09930791],
       [2598.80943435],
       [ 808.76781109],
       [ 663.64246893],
       [ 524.47306471],
       [ 623.16415335],
       [ 859.44590711],
       [ 559.16547086],
       [ 649.90039092],
       [ 562.16095146],
       [ 563.31561166],
       [ 626.78193497],
       [ 563.31561166],
       [1098.49938302],
       [ 637.75496078],
       [1463.82962515],
       [ 887.87208377],
       [ 393.88634119],
       [ 578.26424708],
       [ 981.8266961 ],
       [ 498.22302861],
       [ 574.17353687],
       [ 563.31561166],
       [1379.00220605],
       [ 580.37187984],
       [2547.73016218],
       [ 475.43645849],
       [2531.30726622],
       [ 759.35455538],
       [ 759.35455538],
       [1567.31410603],
       [ 559.57180493],
       [ 559.57180493],
       [ 338.83895618],
       [ 338.83895618],
       [ 367.84546967],
       [ 482.13473957],
       [ 559.72550767],
       [ 864.86986144],
       [ 618.51618027],
       [1577.69356694],
       [1915.1350401 ],
       [ 434.74287422],
       [ 434.74287422],
       [ 490.23669818],
       [ 698.25598136],
       [ 866.21937306],
       [ 772.30641343],
       [ 772.30641343],
       [ 717.04776991],
       [ 717.95498189],
       [1062.86517442],
       [ 570.34107116],
       [ 535.57551884],
       [2130.49510963],
       [2130.49510963],
       [ 506.67402988],
       [ 428.70393098],
       [1710.61572475],
       [ 270.43006405],
       [ 270.43006405],
       [ 480.8517357 ],
       [ 480.8517357 ],
       [ 713.84071571],
       [ 672.98211868],
       [ 653.49532773],
       [ 465.10531278],
       [ 772.36349341],
       [ 506.67402988],
       [2949.83910058],
       [ 432.03510718],
       [3146.46151082],
       [3146.46151082],
       [3067.60095956],
       [5217.41656753],
       [3729.41114094],
       [3729.41114094],
       [6238.6910329 ],
       [2464.21528126],
       [1418.61943228],
       [5427.29624234],
       [5427.29624234],
       [1605.2896345 ],
       [1605.2896345 ],
       [1605.2896345 ],
       [3501.46223526],
       [1262.37117726],
       [1262.37117726],
       [ 462.93184661],
       [ 451.8257033 ],
       [ 451.8257033 ],
       [ 813.31241909],
       [ 813.31241909],
       [ 835.43944089],
       [1450.89072889],
       [ 276.86508059],
       [ 276.86508059],
       [ 276.86508059],
       [ 389.91725214],
       [1039.93855315],
       [ 454.57610455],
       [ 516.64743408],
       [ 755.64882177],
       [1203.41931027],
       [2321.3375826 ],
       [2321.3375826 ],
       [ 339.36503649],
       [ 339.36503649],
       [ 552.15058049],
       [ 552.15058049],
       [1003.82512596],
       [1003.82512596],
       [1003.82512596],
       [1003.82512596],
       [ 463.67982821],
       [ 463.67982821],
       [1390.4636515 ],
       [1448.66976388],
       [1448.66976388],
       [1448.66976388],
       [1448.66976388],
       [1442.02753773],
       [1381.40371755],
       [1203.41931027],
       [ 299.45689922],
       [1452.79977829],
       [ 899.56207695],
       [ 678.97152599],
       [ 430.68461757],
       [1145.08374696],
       [ 815.76250782],
       [ 815.76250782],
       [1044.49814804],
       [ 506.33381837],
       [ 506.33381837],
       [1544.48196906],
       [1544.48196906],
       [1544.48196906],
       [1807.62205601],
       [ 829.12493109],
       [ 243.72150854],
       [ 996.17033505],
       [ 978.58271486],
       [ 753.7250666 ],
       [ 753.7250666 ],
       [ 753.7250666 ],
       [ 442.85070572],
       [ 656.79967453],
       [ 656.79967453],
       [ 656.79967453],
       [4685.60279124],
       [ 297.06456362],
       [ 297.06456362],
       [ 297.06456362],
       [ 790.3441278 ],
       [ 643.50758646],
       [ 458.9447225 ],
       [3046.69372889],
       [ 323.19432152],
       [ 287.29713743],
       [ 964.85193611],
       [ 321.53971692],
       [ 603.64413204],
       [ 603.64413204],
       [ 658.94235949],
       [ 658.94235949],
       [ 545.64384968],
       [ 545.64384968],
       [ 919.16112002],
       [ 919.16112002],
       [1025.11512597],
       [1025.11512597],
       [ 626.18745625],
       [ 626.18745625],
       [2778.74474559],
       [2778.74474559],
       [ 643.50758646],
       [ 623.9016084 ],
       [ 623.9016084 ],
       [1110.63649218],
       [ 296.76531717],
       [ 296.76531717],
       [ 296.76531717],
       [ 689.58508853],
       [ 455.37683022],
       [ 455.37683022],
       [ 455.37683022],
       [ 455.37683022],
       [ 961.33908199],
       [ 961.33908199],
       [1746.80801609],
       [ 772.71269192],
       [ 772.71269192],
       [ 779.2847325 ],
       [1322.03538716],
       [1322.03538716],
       [1008.25362806],
       [ 571.03484096],
       [1953.98565928],
       [ 861.03467314],
       [ 496.21179821],
       [ 503.4434483 ],
       [ 686.3911724 ],
       [ 573.52323459],
       [ 714.09535779],
       [ 345.75423462],
       [ 345.75423462],
       [ 655.9726917 ],
       [ 655.9726917 ],
       [ 926.72777378],
       [ 926.72777378],
       [ 805.88309783],
       [ 805.88309783],
       [ 805.88309783],
       [ 561.56514061],
       [ 561.56514061],
       [ 561.56514061],
       [ 779.2847325 ],
       [ 602.76165174],
       [ 515.95618792],
       [ 661.32485044],
       [1087.23571131],
       [3489.13572281],
       [1422.42841436],
       [1422.42841436],
       [1008.25362806],
       [ 861.03467314],
       [ 661.32485044],
       [ 791.42065685],
       [ 605.33033634],
       [ 605.33033634],
       [ 605.33033634],
       [1890.083028  ],
       [1017.0883001 ],
       [ 609.20367305],
       [3320.37406159],
       [3320.37406159],
       [ 393.34620767],
       [2296.17491929],
       [ 393.34620767],
       [2920.63315668],
       [ 761.15588928],
       [ 972.9756553 ],
       [ 443.6623828 ],
       [ 443.6623828 ],
       [ 509.82965332],
       [ 429.40672993],
       [ 589.89958309],
       [ 523.40728346],
       [9739.88090886],
       [6939.53533145],
       [4730.00221801],
       [2146.23783584],
       [ 338.33051186],
       [ 838.41508118],
       [ 901.32585775],
       [ 600.1365381 ],
       [ 438.82807802],
       [ 515.00648232],
       [ 308.17738313],
       [1400.28640655],
       [1209.97751267],
       [1209.97751267],
       [ 366.5417134 ],
       [ 366.5417134 ],
       [ 462.75840243],
       [ 610.21250662],
       [ 610.21250662],
       [ 976.17422626],
       [ 976.17422626],
       [3270.14361589],
       [2395.3625384 ],
       [2395.3625384 ],
       [2395.3625384 ],
       [2656.76663877],
       [1667.65029334],
       [1667.65029334],
       [ 687.64630159],
       [5065.44068549],
       [ 666.98815716],
       [ 666.98815716],
       [1188.35095494],
       [ 391.71116612],
       [ 929.22978019],
       [ 929.22978019],
       [1188.35095494],
       [1188.35095494],
       [ 756.71283788],
       [1263.88705443],
       [1263.88705443],
       [1262.63825562],
       [ 877.55119655],
       [1157.47459766],
       [1157.47459766],
       [ 623.91469261],
       [ 290.60904678],
       [ 290.60904678],
       [ 839.80682629],
       [ 748.6777175 ],
       [3609.2103451 ],
       [3609.2103451 ],
       [1099.27666252],
       [ 708.14497367],
       [ 305.07258842],
       [ 305.07258842],
       [1017.56752328],
       [ 732.87217719],
       [ 589.47349023],
       [1146.84785821],
       [1295.88787622],
       [ 911.4808538 ],
       [ 519.7841364 ],
       [ 527.6377832 ],
       [ 527.6377832 ],
       [1104.22627338],
       [1323.84539773]])

In [15]:
y

array([[ 431.25 ],
       [ 517.5  ],
       [ 889.04 ],
       [1518.   ],
       [ 490.   ],
       [1020.   ],
       [ 490.   ],
       [3225.   ],
       [ 690.   ],
       [ 744.13 ],
       [ 600.   ],
       [ 437.   ],
       [1153.98 ],
       [ 800.   ],
       [ 650.   ],
       [ 980.   ],
       [1458.2  ],
       [ 240.   ],
       [5296.9  ],
       [ 500.   ],
       [ 965.   ],
       [ 700.   ],
       [6074.3  ],
       [1252.35 ],
       [ 906.   ],
       [1550.   ],
       [1200.   ],
       [ 750.   ],
       [ 546.   ],
       [ 985.   ],
       [ 550.   ],
       [ 600.   ],
       [ 460.   ],
       [ 909.65 ],
       [1035.   ],
       [1025.8  ],
       [ 450.   ],
       [ 950.   ],
       [ 980.   ],
       [1009.7  ],
       [ 735.   ],
       [ 520.   ],
       [ 790.   ],
       [ 410.   ],
       [ 178.25 ],
       [1750.   ],
       [ 727.95 ],
       [1100.   ],
       [1660.   ],
       [ 350.   ],
       [ 825.   ],
       [4175.   ],
       [ 349.6  ],
       [ 600.   ],
       [1007.4  ],
       [2396.6  ],
       [ 345.   ],
       [1058.   ],
       [ 644.   ],
       [1567.45 ],
       [ 775.   ],
       [ 300.   ],
       [ 621.   ],
       [ 471.5  ],
       [1440.   ],
       [1125.   ],
       [1389.2  ],
       [ 310.5  ],
       [ 738.3  ],
       [ 552.   ],
       [2811.75 ],
       [ 926.9  ],
       [3065.555],
       [  90.   ],
       [ 917.7  ],
       [ 563.5  ],
       [ 200.   ],
       [1160.   ],
       [ 525.   ],
       [ 320.   ],
       [ 425.   ],
       [ 368.   ],
       [ 800.   ],
       [ 556.6  ],
       [ 454.25 ],
       [ 700.   ],
       [1518.   ],
       [ 832.6  ],
       [1334.   ],
       [ 201.25 ],
       [ 350.   ],
       [ 454.25 ],
       [ 700.   ],
       [ 483.   ],
       [ 419.75 ],
       [1020.2  ],
       [ 793.5  ],
       [ 989.   ],
       [ 250.   ],
       [ 442.75 ],
       [ 385.   ],
       [ 488.75 ],
       [ 754.4  ],
       [3924.95 ],
       [ 802.   ],
       [1870.   ],
       [ 160.   ],
       [6391.7  ],
       [ 207.   ],
       [ 207.   ],
       [ 400.   ],
       [ 330.   ],
       [2100.   ],
       [7601.5  ],
       [6965.55 ],
       [ 400.   ],
       [ 584.2  ],
       [ 631.93 ],
       [1328.25 ],
       [ 402.5  ],
       [ 720.   ],
       [ 950.   ],
       [ 552.   ],
       [ 535.   ],
       [ 402.5  ],
       [ 830.99 ],
       [1990.   ],
       [ 644.   ],
       [3950.   ],
       [ 319.7  ],
       [ 747.5  ],
       [ 644.   ],
       [1351.25 ],
       [3139.   ],
       [ 950.   ],
       [ 823.4  ],
       [5200.   ],
       [ 451.   ],
       [1721.55 ],
       [ 725.   ],
       [ 803.   ],
       [ 520.   ],
       [ 220.   ],
       [ 651.   ],
       [ 333.5  ],
       [ 747.5  ],
       [ 489.325],
       [ 575.   ],
       [ 471.5  ],
       [ 832.   ],
       [ 667.   ],
       [ 768.2  ],
       [1458.2  ],
       [ 931.5  ],
       [ 333.5  ],
       [ 600.53 ],
       [1096.   ],
       [ 535.9  ],
       [ 786.49 ],
       [1087.09 ],
       [ 784.3  ],
       [ 460.   ],
       [2139.   ],
       [ 300.   ],
       [2530.   ],
       [ 747.5  ],
       [ 700.   ],
       [1288.   ],
       [ 402.5  ],
       [ 395.   ],
       [ 552.   ],
       [ 395.   ],
       [ 375.   ],
       [ 149.5  ],
       [ 415.   ],
       [ 475.   ],
       [ 730.25 ],
       [1581.25 ],
       [2102.2  ],
       [ 563.5  ],
       [ 345.   ],
       [ 799.25 ],
       [ 563.5  ],
       [ 701.5  ],
       [ 782.   ],
       [ 500.   ],
       [ 775.   ],
       [ 725.   ],
       [1222.45 ],
       [ 410.55 ],
       [ 535.9  ],
       [2185.   ],
       [1576.   ],
       [ 497.   ],
       [ 316.25 ],
       [2180.4  ],
       [ 267.95 ],
       [ 320.   ],
       [ 349.6  ],
       [ 555.   ],
       [ 805.   ],
       [ 713.   ],
       [1035.   ],
       [ 320.   ],
       [ 747.5  ],
       [ 926.9  ],
       [2875.   ],
       [ 499.   ],
       [3680.   ],
       [2611.58 ],
       [3894.48 ],
       [4805.   ],
       [2375.9  ],
       [2250.   ],
       [5848.9  ],
       [2180.4  ],
       [2331.   ],
       [4455.1  ],
       [6417.   ],
       [1642.2  ],
       [1500.   ],
       [1675.   ],
       [3509.8  ],
       [ 881.19 ],
       [ 845.25 ],
       [ 300.   ],
       [ 402.5  ],
       [ 345.   ],
       [ 575.   ],
       [ 747.5  ],
       [ 900.   ],
       [1075.25 ],
       [ 470.   ],
       [ 475.   ],
       [ 320.   ],
       [ 250.   ],
       [1278.8  ],
       [ 130.   ],
       [ 560.   ],
       [ 805.   ],
       [ 741.   ],
       [2235.   ],
       [2400.   ],
       [ 300.   ],
       [ 400.   ],
       [ 700.   ],
       [ 632.   ],
       [1334.   ],
       [ 538.97 ],
       [ 678.5  ],
       [ 890.   ],
       [ 747.5  ],
       [ 390.   ],
       [1752.   ],
       [1002.8  ],
       [1236.77 ],
       [1990.   ],
       [2110.   ],
       [ 747.5  ],
       [1325.09 ],
       [1325.   ],
       [ 281.75 ],
       [1458.2  ],
       [ 670.   ],
       [ 450.   ],
       [ 650.   ],
       [1385.75 ],
       [ 736.   ],
       [ 895.   ],
       [1050.   ],
       [ 356.5  ],
       [ 405.   ],
       [1276.5  ],
       [1521.55 ],
       [1145.   ],
       [1842.19 ],
       [1228.58 ],
       [ 250.   ],
       [ 880.   ],
       [1094.8  ],
       [ 690.   ],
       [ 680.   ],
       [ 935.   ],
       [ 542.8  ],
       [ 586.5  ],
       [ 535.46 ],
       [ 680.   ],
       [8152.35 ],
       [ 276.   ],
       [ 431.25 ],
       [ 385.   ],
       [ 634.8  ],
       [ 693.   ],
       [ 273.7  ],
       [3154.45 ],
       [ 350.75 ],
       [ 805.   ],
       [ 931.5  ],
       [ 253.   ],
       [ 561.78 ],
       [ 500.25 ],
       [ 630.   ],
       [ 727.   ],
       [ 475.   ],
       [ 517.5  ],
       [ 700.   ],
       [ 727.   ],
       [1260.   ],
       [ 712.   ],
       [ 483.   ],
       [ 855.   ],
       [2869.25 ],
       [3900.26 ],
       [ 580.   ],
       [ 550.   ],
       [ 632.   ],
       [ 910.   ],
       [ 276.   ],
       [ 327.75 ],
       [ 395.   ],
       [ 710.41 ],
       [ 448.5  ],
       [ 542.225],
       [ 400.   ],
       [ 435.   ],
       [ 897.   ],
       [1265.   ],
       [1713.5  ],
       [ 828.   ],
       [ 975.   ],
       [ 675.   ],
       [1580.   ],
       [1496.   ],
       [1130.   ],
       [ 320.   ],
       [2310.   ],
       [ 700.   ],
       [ 584.2  ],
       [ 420.   ],
       [ 800.   ],
       [ 535.9  ],
       [1150.   ],
       [ 499.1  ],
       [ 310.5  ],
       [ 627.88 ],
       [ 685.   ],
       [ 850.   ],
       [ 859.5  ],
       [ 920.   ],
       [1157.89 ],
       [1290.   ],
       [ 729.1  ],
       [ 400.   ],
       [ 261.   ],
       [ 810.   ],
       [ 895.   ],
       [ 580.   ],
       [ 500.   ],
       [1125.   ],
       [3507.5  ],
       [1780.   ],
       [1456.   ],
       [ 712.   ],
       [ 869.4  ],
       [ 618.125],
       [ 920.   ],
       [ 379.5  ],
       [ 485.47 ],
       [ 600.   ],
       [1890.6  ],
       [ 911.57 ],
       [ 454.25 ],
       [2114.85 ],
       [2237.   ],
       [ 405.95 ],
       [2296.16 ],
       [ 335.   ],
       [2880.75 ],
       [ 978.77 ],
       [1417.95 ],
       [ 632.5  ],
       [ 800.   ],
       [ 399.   ],
       [ 900.   ],
       [ 399.   ],
       [ 550.   ],
       [9743.95 ],
       [6924.61 ],
       [4372.3  ],
       [1800.   ],
       [ 203.   ],
       [ 324.3  ],
       [ 729.1  ],
       [ 362.25 ],
       [ 400.   ],
       [ 400.   ],
       [ 500.   ],
       [1120.   ],
       [1375.   ],
       [1350.   ],
       [ 293.25 ],
       [ 325.   ],
       [ 262.   ],
       [ 490.   ],
       [ 675.   ],
       [1140.   ],
       [1050.   ],
       [3420.   ],
       [2415.   ],
       [2127.5  ],
       [2612.   ],
       [2100.   ],
       [1500.   ],
       [1800.   ],
       [ 725.   ],
       [4645.   ],
       [ 600.   ],
       [ 615.   ],
       [1035.   ],
       [ 340.   ],
       [ 977.5  ],
       [1075.   ],
       [ 950.   ],
       [ 880.   ],
       [ 813.05 ],
       [1900.   ],
       [2290.   ],
       [1299.   ],
       [ 650.   ],
       [ 990.   ],
       [ 990.   ],
       [ 660.   ],
       [ 330.   ],
       [ 310.   ],
       [ 760.   ],
       [1640.   ],
       [3550.   ],
       [3325.   ],
       [1100.   ],
       [ 460.   ],
       [ 385.   ],
       [ 355.   ],
       [ 680.   ],
       [ 767.   ],
       [ 325.   ],
       [ 962.   ],
       [1290.3  ],
       [ 747.5  ],
       [ 530.   ],
       [ 224.75 ],
       [ 500.   ],
       [ 985.   ],
       [ 900.   ]])

In [16]:
from sklearn.metrics import r2_score
r2_score(y,preds)

0.9109646185089066

In [17]:
from scipy import stats

In [18]:
stats.pointbiserialr(df['Trip type'], df['Supplier Quote(including GST)'])

PointbiserialrResult(correlation=0.18597963949654123, pvalue=6.827702763361054e-05)

In [19]:
stats.pointbiserialr(df['Vehicle class'], df['Supplier Quote(including GST)'])

PointbiserialrResult(correlation=0.14794885920205567, pvalue=0.0015906969680918224)

In [20]:
stats.pointbiserialr(df['Number of MiniBus'], df['Supplier Quote(including GST)'])

PointbiserialrResult(correlation=-0.03851230362141471, pvalue=0.4135132444290265)

In [21]:
stats.pointbiserialr(df['Number of Large MiniBus'], df['Supplier Quote(including GST)'])

PointbiserialrResult(correlation=-0.16642342975988395, pvalue=0.00037486723809739746)

In [22]:
stats.pointbiserialr(df['Number of Small Coach'], df['Supplier Quote(including GST)'])

PointbiserialrResult(correlation=0.01535214775482772, pvalue=0.7445239127397701)

In [23]:
stats.pointbiserialr(df['Number of Medium Coach'], df['Supplier Quote(including GST)'])

PointbiserialrResult(correlation=0.014821540673977888, pvalue=0.7530620670708532)

In [24]:
stats.pointbiserialr(df['Number of Large Coach'], df['Supplier Quote(including GST)'])

PointbiserialrResult(correlation=0.23690806402961306, pvalue=3.3756059571953315e-07)

In [25]:
stats.pointbiserialr(df['Extra Large Coach'], df['Supplier Quote(including GST)'])

PointbiserialrResult(correlation=0.16601561407183985, pvalue=0.00038767751144350485)

In [26]:
# Calculating percentage difference

In [27]:
original=[]
predicted = []
for x in y:
   original.append(x[0])

for x in preds:
    predicted.append(x[0])

In [28]:
diff = []
for x in range(len(original)):
    diff.append(predicted[x] - original[x])

In [29]:
df['Preds'] = predicted
df['Margin Of Error'] = diff

In [30]:
df

,Vehicle class,Trip type,Passengers,Distance in kms,Travel time minutes,Total time elapsed(hours),Supplier Quote(including GST),Number of MiniBus,Number of Large MiniBus,Number of Small Coach,Number of Medium Coach,Number of Large Coach,Extra Large Coach,Preds,Margin Of Error
0,0,0,35,23.183,21,0.35,431.25,0,0,1,0,0,0,358.530944,-72.719056
1,0,1,25,32.554,36,5.37,517.50,0,0,1,0,0,0,540.678534,23.178534
2,0,1,15,110.210,84,7.45,889.04,0,1,0,0,0,0,509.633332,-379.406668
3,0,1,70,15.513,25,7.72,1518.00,0,1,0,0,0,1,902.362562,-615.637438
4,0,1,53,14.301,26,3.18,490.00,0,0,0,0,0,1,657.017833,167.017833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,0,1,30,20.852,23,7.43,530.00,0,0,1,0,0,0,519.784136,-10.215864
449,0,1,25,19.468,28,2.98,224.75,0,0,1,0,0,0,527.637783,302.887783
450,0,1,25,19.468,28,2.98,500.00,0,0,1,0,0,0,527.637783,27.637783
451,0,1,45,115.055,103,9.85,985.00,0,0,0,0,1,0,1104.226273,119.226273
452,0,1,50,164.195,143,12.18,900.00,0,0,0,0,0,1,1323.845398,423.845398

In [31]:
sum = 0
for x in df['Margin Of Error']:
    sum = sum + np.abs(x)

sum/len(df['Margin Of Error'])

218.08921703811882

# How to use model

In [32]:
import pickle
with open('LM_predictor_model.pkl', 'wb') as fid:
    pickle.dump(linr, fid)

In [33]:
loaded_model = pickle.load(open('LM_predictor_model.pkl', 'rb'))

#params = [[Vehicle class,Trip type,Passengers,Distance in kms,Travel time minutes,Total time elapsed(hours),Number of Large Coach]]
test = poly.fit_transform([[0,1,30,20.85,23,7.43,0]])


prediction = loaded_model.predict(test)
prediction = round(prediction[0][0],0)
prediction

520.0

In [34]:
df.to_csv("LM_DataFile.csv")